@charset "UTF-8";
/* Police contourée */
@font-face {
  font-family: 'LuloCleanOutlineBold';
  src: url("fonts/LuloCleanOutlineBold-webfont.woff2") format("woff2"), url("fonts/LuloCleanOutlineBold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/*
@keyframes : 
Règle qui définit les étapes qui composent la séquence d'une animation CSS, ici liée à la rotation d'un élément
en lui donnant un nom (ici "spinned-text") pour pouvoir l'utiliser avec la propriété animation sur l'élément
ciblé
*/
@-webkit-keyframes spinned-text {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes spinned-text {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #F5F5F5;
}

aside {
  background-color: #474FCC;
  height: 100%;
  overflow: hidden;
}

aside p {
  writing-mode: vertical-rl;
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: vertical-rl;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  font-family: 'LuloCleanOutlineBold';
  font-size: 1.5em;
  color: white;
  opacity: 0.5;
}

.main_home {
  margin-left: 15vw;
}

.main_home header nav {
  background-color: white;
  padding: .5rem 1rem .5rem 1.3rem;
  width: 101%;
}

.main_home header nav .navbar-nav .nav-link {
  color: black;
  font-size: 14px;
}

.main_home .main_content #hero {
  margin-top: 55px;
  margin-bottom: 100px;
  min-height: 60vh;
  position: relative;
}

.main_home .main_content #hero #name_portfolio {
  color: #474fcc;
  font-weight: bolder;
  font-size: 13px;
  margin-bottom: 0;
  height: 30px;
}

.main_home .main_content #hero h1 {
  margin-top: 16px;
  margin-bottom: 0px;
  font-size: 2rem;
}

.main_home .main_content #hero .spinning-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
  position: absolute;
  left: -10%;
  top: 80%;
}

.main_home .main_content #hero .spinning-box .spinning-text {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.main_home .main_content #hero .spinning-box .spinning-text a {
  color: black;
}

.main_home .main_content #hero .spinning-box .spinning-text a .spinningText_Style {
  position: relative;
  -webkit-animation: 10s linear 0s infinite normal none running spinned-text;
          animation: 10s linear 0s infinite normal none running spinned-text;
}

.main_home .main_content #hero .spinning-box .spinning-text a .spinningText_Style .first-circle {
  height: 120px;
  width: 120px;
}

.main_home .main_content #hero .spinning-box .spinning-text a .spinningText_Style .second-circle {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
          transform: translateY(-50%) translateX(-50%);
  height: 200px;
  width: 200px;
}

.main_home .main_content #hero .spinning-box .spinning-text a .fa-heart {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
          transform: translateY(-50%) translateX(-50%);
  font-size: 11px;
}

.main_home .main_content #hero .spinning-box .spinning-text a .fa-heart:active {
  color: black;
}

.main_home .main_content .featured_work h2 {
  font-size: 25px;
}

.main_home .main_content .featured_work h2 span {
  font-family: 'LuloCleanOutlineBold';
  letter-spacing: -4px;
}

.main_home .main_content .featured_work .container_projects .project {
  padding-bottom: 16px;
}

.main_home .main_content .featured_work .container_projects .project .card {
  background-color: #f5f5f5;
  border: none;
}

.main_home .main_content .featured_work .container_projects .project .card .img-fluid {
  width: 100%;
  height: 35vh;
  -o-object-fit: cover;
     object-fit: cover;
}

.main_home .main_content .featured_work .container_projects .project .card .card-body {
  padding: 32px 0;
}

.main_home .main_content .featured_work .container_projects .project .card .card-body .card-title {
  font-size: 20px;
  font-weight: 200;
  margin-bottom: 4px;
}

.main_home .main_content .featured_work .container_projects .project .card .card-body .card-text {
  font-size: 15px;
}

.navbar-dark {
  background-color: #474FCC;
  padding: .8rem 1rem;
}

.navbar-dark .fa-times {
  color: white;
  font-size: large;
}

.time_nav ul {
  font-size: 13px;
}

.myName {
  font-size: 14px;
  font-weight: bolder;
}

.myName:hover {
  -webkit-text-decoration: underline 2px;
          text-decoration: underline 2px;
}

.active {
  text-decoration: underline;
}

lead a {
  color: #474FCC;
  font-weight: bold;
}

lead a:hover {
  color: #474FCC;
}

lead .skill {
  font-size: 1.5em;
}

.soft_skills, .contact_header {
  font-size: 2em;
}

.skill_icon {
  width: 20%;
  height: 20%;
}

.contact_icon {
  width: 5%;
  height: 5%;
}

.download a p {
  color: #A5A7A7;
  font-size: 16px;
}

.download a img {
  width: 50%;
  height: 50%;
}

footer {
  border-top: #A5A7A7 1px solid;
  height: 45px;
  width: 90%;
}

footer .fa-customize {
  color: #A5A7A7;
}

@media screen and (min-width: 1024px) {
  aside p {
    font-size: 1.7em;
  }
  header nav {
    padding: 1.5rem 1rem 1.5rem 3rem !important;
  }
  header nav .navbar-nav .nav-link {
    font-size: 18px !important;
  }
  #hero {
    min-height: 80vh;
    margin-top: 80px !important;
    padding-right: 8rem !important;
  }
  #hero h1 {
    font-size: 3.5rem !important;
  }
  #name_portfolio, .myName {
    font-size: 18px !important;
  }
  .first-circle {
    height: 190px !important;
    width: 190px !important;
  }
  .second-circle {
    height: 300px !important;
    width: 300px !important;
  }
  .fa-heart {
    font-size: 20px !important;
  }
  .featured_work h2 {
    font-size: 55px !important;
    margin-bottom: 5rem !important;
  }
  .featured_work h2 span {
    letter-spacing: -15px !important;
  }
  .featured_work .project {
    margin-bottom: 50px;
  }
  .featured_work .project .card-title {
    font-size: 38px !important;
  }
  .featured_work .project .card-text {
    font-size: 26px !important;
  }
  .fa-times {
    font-size: x-large !important;
  }
  .time_nav ul {
    font-size: 16px !important;
  }
  lead {
    font-size: 20px !important;
  }
  .download a img {
    width: 30% !important;
    height: 30% !important;
  }
  .contact {
    font-size: 20px !important;
  }
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 2.5rem !important;
  }
  .spinning-box {
    top: 65% !important;
  }
  .skill_icon {
    width: 18% !important;
    height: 18% !important;
  }
}

@media screen and (min-width: 425px) {
  .skill_icon {
    width: 19%;
    height: 19%;
  }
  .download a img {
    width: 40%;
    height: 40%;
  }
}

@media screen and (max-width: 337px) {
  .second-circle {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */